* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: auto;
}

#root {
    grid-column: 2 / 3;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 100px;
}

.main {
    margin-top: 50px;
    padding: 1px 40px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.button.delete {
    border: 1px solid rgb(233, 13, 13);
    padding: 4px 8px;
}

.button.delete:hover {
    color: white;
    background:rgb(233, 13, 13)
}

.button.info, .button.edit {
    border: 1px solid rgb(0, 76, 175);
    padding: 4px 8px;
}

.button.info:hover, .button.edit:hover {
    color: white;
    background:rgb(0, 76, 175)
}